/* цвет основного текста: #212121 */
/* вторичный цвет текста: #757575 */
/* цвет фона: #F5F5F5 */
/* цвет шапки: #ECECEC */
/* цвет акцент: #2196F3 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-color: #f5f5f5;
  --white-color: #ffffff;
  --background-button-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --black-color: #000000;
  --footer-white-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --line-color: #ececec;
  --background-button-color-sec: #188ce8;
  --background-color-our-team: #f5f4fa;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.header-page {
  border-bottom: 1px solid var(--line-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.image {
  display: block;
  max-widht: 100%;
  height: auto;
}

/*  Logo  */

.logo-blue,
.logo-black,
.logo-white {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-black {
  color: var(--black-color);
}

.logo-white {
  color: var(--white-color);
}

.link-logo {
  /* height: 31px;
  margin-top: 60px; */

  text-decoration: none;
}

.list {
  list-style: none;
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 94px;
}

.site-nav .item:not(last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.auth-nav .item:not(last-child) {
  margin-right: 50px;
}

.auth-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}
/* Main */
/* Hero */

.hero {
  background-color: var(--background-footer-color);

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/imgbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */
.features {
  padding-top: 95px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-pash: insert(50%);
  margin: -1px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.features-item {
  width: 270px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list .description {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Occupation */

.occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.section-type {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.occupation-list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 30px;
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color-our-team);
}

.team-type {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.team-list {
  background-color: var(--white-color);
  widht: 270px;
  height: 368px;
  align-items: center;
}

.person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-list .description {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
  text-align: center;
}

/* Button */

.button-primary {
  border-radius: 4px;
  padding: 6px 22px;
  min-widht: 125px;

  color: var(--primary-text-color);
  background-color: var(--background-button-color);

  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-secondary {
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
  min-width: 216px;
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--white-color);
  background-color: var(--background-button-color-sec);
}

.footer {
  background: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  margin-top: 20px;
}

.address-type {
  color: var(--white-color);
  text-decoration: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-item {
  margin-bottom: 9px;
}

.email-footer,
.tel-footer {
  color: var(--footer-white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.address-item:last-child {
  margin-bottom: 0;
}

/* Portfolio */

.portfolio-main {
  padding-bottom: 94px;
  padding-top: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;

  color: var(--title-text-color);
}

/* .portfolio-list .item:last-child {
  margin-right: 8px;
} */

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-items {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-items:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--line-color);
  border-top: none;
}

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-type {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-left: 0;
  margin-top: 4px;
  font-weight: 400;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}
